%tr{:id => dom_id(contact)}
  %td= contact.first_name
  %td= contact.last_name
  %td= link_to 'Show', contact, :remote => true
  %td= link_to 'Edit', edit_contact_path(contact), :remote => true
  %td= link_to 'Destroy', contact,:method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true
  %br