%p#notice= notice

%p
  %b First name:
  = @contact.first_name
%p
  %b Last name:
  = @contact.last_name
%p
  %b Email:
  = @contact.email
%p
  %b Mobile:
  = @contact.mobile
%p
  %b Landline:
  = @contact.landline
%p
  %b Twitter:
  = @contact.twitter
%p
  %b Photo:
  = image_tag @contact.photo.url(:medium)
